services:
  proxy:
    image: traefik:3.6
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "80:80"
      - "8090:8080"
    # Duplicate the command from docker-compose.yml to add --api.insecure=true
    command:
      # Enable Docker in Traefik, so that it reads labels from Docker services
      - --providers.docker
      # Add a constraint to only use services with the label for this stack
      - --providers.docker.constraints=Label(`traefik.constraint-label`, `traefik-public`)
      # Do not expose all Docker services, only the ones explicitly exposed
      - --providers.docker.exposedbydefault=false
      # Create an entrypoint "http" listening on port 80
      - --entrypoints.http.address=:80
      # Create an entrypoint "https" listening on port 443
      - --entrypoints.https.address=:443
      # Enable the access log, with HTTP requests
      - --accesslog
      # Enable the Traefik log, for configurations and errors
      - --log
      # Enable debug logging for local development
      - --log.level=DEBUG
      # Enable the Dashboard and API
      - --api
      # Enable the Dashboard and API in insecure mode for local development
      - --api.insecure=true
    labels:
      # Enable Traefik for this service, to make it available in the public network
      - traefik.enable=true
      - traefik.constraint-label=traefik-public
      # Dummy https-redirect middleware that doesn't really redirect, only to
      # allow running it locally
      # In traefik:3.6 AutoDetect option is deprecated, Content-Type middleware is
      # only meant to be used to enable the content-type detection,
      # please remove any usage of this option.
      - traefik.http.middlewares.https-redirect.contenttype.autodetect=false
    networks:
      - traefik-public
      - default

  backend:
    restart: "no"
    ports:
      - "3000:3000"
    build:
      context: ./backend
    labels:
      - traefik.http.routers.${STACK_NAME?Variable not set}-backend-https.tls=false

  frontend:
    restart: "no"
    ports:
      - "5173:80"
    build:
      context: ./frontend
    labels:
      - traefik.http.routers.${STACK_NAME?Variable not set}-frontend-https.tls=false

networks:
  traefik-public:
    # For local dev, don't expect an external Traefik network
    # If false - traefik WRN Could not find network named "traefik-public" for containers
    external: false
